@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');
@import 'tailwindcss';

html {
    height: 100%;
}

body {
    height: 100%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

@theme {
    --font-anta: 'Anta', sans-serif;
}